@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>Your e-mail has been successfully sent!</p>

    @Html.ActionLink("Home Page", "Index", "Home");
</body>
</html>*@

@{
    ViewBag.Title = "E-mail Confirmation";
}

<h2>@ViewBag.Title</h2>
<br />

<p>Your e-mail has been successfully sent!</p>

@*@Html.ActionLink("Home Page", "Index", "Home");*@