@{
    ViewBag.Title = "Home Page";
}

<h2 class="heading">Welcome to Football Accountant!!</h2>
<br />

<div style="text-align: center">
    <img class="centerImage" src="~/Resources/accountantmole.jpg" />
</div>